<div class="regulars-login__background"></div>
<div class="mdl-grid regulars-login__grid">
  <div class="mdl-cell mdl-card mdl-shadow--2dp regulars-login__card">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Regulars</h1>
    </div>
    <div class="mdl-card__supporting-text">
      Customer Retention App for Hair Salons
    </div>
    <div class="mdl-card__actions">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect regulars-login__button">
        Continue with Facebook
      </button>
    </div>
  </div>
</div>

<%= form_for User.new, data: { remote: true } do |f| %>
    <%= f.hidden_field :facebook_id %>
    <%= f.hidden_field :access_token %>
<% end %>
