@import "material-design-lite/src/button/button";

.regulars-button {
  &--bottom-right {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 2;
  }

  &--bottom-right-edge {
    position: absolute;
    bottom: -28px;
    right: 24px;
    z-index: 2;
  }
}
