@import "material-design-lite/src/button/button";

.regulars-floating-action-button {
  @extend .mdl-button;
  @extend .mdl-button--fab;
  @extend .mdl-button--colored;

  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 2;
}
