@import "material-design-lite/src/color-definitions";
@import "../mixins/centerer";

.regulars-login {
  &__background {
    background-image: image-url("login_bg.jpeg");
    -webkit-filter: blur(5px);
    fliter: blur(5px);
    height: 95vh;
    width: 100%;
    padding: 0;
  }

  &__grid {
  }

  &__card {
    @include centerer(true, true);
    -webkit-filter: none;
    fliter: none;
    width: 260px;
  }

  &__button {
    @include centerer(true, false);
    padding-left: auto;
    color: unquote("rgb(#{$color-white})");
    background-color: #3b5998;
    width: 250px;
  }
}
