@import "material-design-lite/src/color-definitions";
@import "../mixins/centerer";

.regulars-login {
  &__grid {
    height: 100vh;
    padding: 0;
  }

  &__card {
    @include centerer(true, true);
    width: 260px;
  }

  &__button {
    @include centerer(true, false);
    padding-left: auto;
    color: unquote("rgb(#{$color-white})");
    background-color: #3b5998;
    width: 250px;
  }
}
